# ignore environments
.venv/*
.python_version
.future/*

.Rproj.user

.Rhistory

# ignore outputs
template_data/aggregator_output/*
template_data/module_output/*
template_data/netcdfs/aggregator_output/*
template_data/netcdfs/module_output/*
toolkit_project/module_output/EWR/*
template_data/module_output/*

*_cache
*_files
*.html
*.rds
*.err
*.out
*.docx


/.quarto/

*.docx
# some files created with purl on HPC
HPC/2_aggregate_HPC.R
HPC/2_baseline_to_historic.R
HPC/2_stochastic_stats.R
